<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yogi ananta putra</title>
</head>
<body>
    <h1>Documentation</h1>

    <br>
  <h3>Register User</h3>
  <img src="static/img_source/user_register.png" alt="User Register">

    <br>
  <h3>Login User</h3>
  <img src="static/img_source/user_login.png" alt="User Login">

    <br>
  <h3>Adding Activity</h3>
  <img src="static/img_source/add_activity.png" alt="Add Activity">

    <br>
  <h3>Delete Activity</h3>
  <img src="static/img_source/delete_activity.png" alt="Delete Activity">

    <br>
  <h3>Get All Activity (Show All Activity)</h3>
  <img src="static/img_source/get_all_activity.png" alt="Get All Activity">

    <br>
  <h3>Get My Activity (Only Show Current User Activity)</h3>
  <img src="static/img_source/get_my_activity.png" alt="Get My Activity">

    <br>
  <h3>Logout</h3>
  <img src="static/img_source/user_logout.png" alt="Logout">

    <br>
  <h3>Token Revoked When Get_Activity (try to adding activity after logout)</h3>
  <img src="static/img_source/token_revoked.png" alt="Token Revoked">



</body>
</html>